extends layout/dashboard-template
block variables
  - const account = user.account

include mixins/_top-job-search


block content
  // main content
  .inner-top.dashboard
    .p-light-breather
      // top job search form
      //- +topJobSearch()
      .container
        .row
          // jobs details
          .col-sm-9.white-bg.m-heavy-side-breather
            .m-mid-breather
              // title
              h2.capitalize.no-margin #{job.title}
                
              // company name
              p.secheadfont.uppercase #{job.author.companyName}
              
              if (isApplied(user.id))
                p.btn.gray-bg.capitalize.maintxt-color you&apos;ve already applied
              else
                a.btn.main-btn.capitalize(href=`/candidate/jobs/apply/${job.id}`) apply for this job
              // about company
              .m-mid-top-breather
                p.lead.no-margin.txt-bold.capitalize about #{job.author.companyName}
                p #{job.author.aboutCompany}
              // job description
              .m-mid-top-breather !{job.description}
              .m-mid-breather
                if (isApplied(user.id))
                  p.btn.gray-bg.capitalize.maintxt-color you&apos;ve already applied
                else
                  a.btn.main-btn.capitalize(href=`/candidate/jobs/apply/${job.id}`) apply for this job
          // job summary
          .sidebar.col-sm-3
            .p-vlight-breather.sec-bg.p-mid-side-breather
              p.headfont.uppercase.no-margin.text-center job summary
            .p-mid-side-breather.p-light-breather.white-bg.small-font-size
              // company name
              .capitalize
                p.txt-bold.no-margin company
                p.capitalize #{job.author.companyName}
              // job field
              .capitalize
                p.txt-bold.no-margin field
                p.capitalize #{job.field}
              // job type
              .capitalize
                p.txt-bold.no-margin job type
                p #{job.availability}
              // location
              .capitalize
                p.txt-bold.no-margin location
                p #{job.location}
              // job experience
              .capitalize
                p.txt-bold.no-margin experience
                p #{job.experience} years
              // job qualification
              .capitalize
                p.txt-bold.no-margin minimum qualification
                p #{job.qualification}
              // job deadline
              .capitalize
                p.txt-bold.no-margin deadline
                p expired
